#beta-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

#beta-items {
    justify-self: center;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #bebdbd;
    box-shadow: 0px 2px 2px 0px rgba(122, 122, 122, 0.2);
    border-radius: 8px;
    position: relative;
}


#beta-items button {
    height: 3.2rem;
}

#beta-validation-label {
    position: absolute;
    color: #ff4d4d; 
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    width: 350;
    pointer-events: none;
}

#beta-button {
    align-self: center;
    justify-self: center;
    width: 15rem;
}

.beta-field {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inner-entry-label {
    pointer-events: none;
    position: absolute;
    margin: .5rem;
    background-color: white;
    padding: .15rem;
    transition: all 0.2s ease-in-out;
    color: gray;
}

.beta-field-input {
    width: 15rem;
    height: 2.3rem;
    padding: 5px 8px;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 1rem;
    border: 1px solid #cdcbcb;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.beta-field-input:hover {
    border: 1px solid rgba(41, 41, 42, 0.4);
}

.beta-field-input:focus {
    border: 1px solid rgba(17, 17, 18, 0.4);
}

.beta-field-input:focus + .inner-entry-label,
.beta-field-input:not(:placeholder-shown) + .inner-entry-label {
    font-size: .75rem;
    transform: translateY(-1.6rem);
    color: black;
}
