
/* MAIN SETTINGS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */

#navbar-logo-container {
    max-width: 6vw;
    max-height: auto;
}

#navbar-logo-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

#navbar {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    max-width: 99.2vw;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 2px 0px 0px rgba(122, 122, 122, 0.2);
}

#left-nav-side {
    display: flex;
}

.navbar-list {
    display: flex;
}

#login-register-navbar-list {
    gap: clamp(1rem, 0.3vw, 2rem);
}


.navbar-item {
    list-style-type: none;
}

.navbar-link {
    display: flex;
    text-decoration: none;
    color: black;
    padding: clamp(0.7rem, 0.7vw, 2rem);
    border-radius: 10px;
    transition: all 0.15s ease;
    width: 5vw;
    justify-content: center;
    font-size: clamp(1rem, 1.1vw, 2rem);
}

.navbar-link:hover {
    background-color: #b7b5b589;
}

/* HERO SECTION */

#hero-section {
    width: 100%;
    height: 80vh;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-top: 5.5vh;
    position: relative;
}

/* image */

#hero-image {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    filter: brightness(75%);
}

/* hero text */

#hero-text-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    max-width: 60vw;
    margin-bottom: 20rem;
    margin-right: 20rem;
}

.hero-text {
    color: white;
    position: absolute;
    font-size: clamp(2rem, 4vw, 5rem);
}

#bottom-hero-text {
    margin-top: 11rem;
}

/* ABOUT SECTION */

#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-group-header-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: clamp(1rem, 10px, 2rem);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(122, 122, 122, 0.2);
    border: 1px solid #bebdbd;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.75rem 1rem;
}

.about-group-header-button:hover {
    background-color: #b8b7b7af;
}

.about-group-header-button svg {
    transition: transform 0.4s ease;
}

.about-group {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    flex-direction: column;
    width: 40vw;
}

.about-group-text { 
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.about-group.open .about-group-text{
    max-height: 500px;
}

.about-group.open svg {
    transform: rotate(180deg);
}

.about-group-header {
    margin: 0px;
    align-self: flex-start;
}
