
/* MAIN SETTINGS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */

#navbar-logo-container {
    min-height: 0;
    min-width: 0;
}

#navbar-logo-image {
    object-fit: cover;
    height: 4rem;
    width: auto;
    display: block;
}

#navbar {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    max-width: 99.2vw;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 0px 2px 0px 0px rgba(210, 210, 210, 0.2);
}

#left-nav-side {
    display: flex;
    min-height: 0;
    min-width: 0;
}

.navbar-list {
    display: flex;
}

#login-register-navbar-list {
    gap: clamp(1rem, 0.3vw, 2rem);
}


.navbar-item {
    list-style-type: none;
}

.navbar-link {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    transition: all 0.15s ease;
    width: 5vw;
    justify-content: center;
    font-size: clamp(1rem, 1.1vw, 2rem);
}

.navbar-link:hover {
    background-color: #b7b5b589;
}

/* HERO SECTION */

#hero-section {
    width: 96%;
    max-width: 2200px;
    margin: 0 auto;
    height: 75vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

/* image */

#hero-image {
    height: 100%;
    width: 100%;
    inset: 0;
    background-image: url(/static/hero-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#hero-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(35,25,15,0.5);
}

/* hero text */

#hero-text-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    height: 100%;
    width: 100%;
    color: white;
}

#hero-text-container h1 {
    margin: 0;
}

.hero-text {
    color: rgb(255, 255, 255);
    font-size: clamp(2rem, 4vw, 5rem);
    pointer-events: none;
}

#bottom-hero-text {
    font-weight: 500;
    font-style: italic;
    font-size: clamp(1.75rem, 3.5vw, 4rem);
}

/* create account button */

#hero-create-account-button {
    margin-top: .5rem;
    height: clamp(10px, 3.8rem, 100px);
    background-color: transparent;
    color: #f8fafc;
    border: 2.5px solid #f8fafc;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.05s ease-in-out;
}

#hero-create-account-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px -10px white;
}

#hero-create-account-button:active {
    transform: translateY(3px);
    box-shadow: none;
}


/* ABOUT SECTION */

#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-group-header-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: clamp(1rem, 10px, 2rem);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(122, 122, 122, 0.2);
    border: 1px solid #bebdbd;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.75rem 1rem;
}

.about-group-header-button:hover {
    background-color: #b8b7b7af;
}

.about-group-header-button svg {
    transition: transform 0.4s ease;
}

.about-group {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    flex-direction: column;
    width: 40vw;
}

.about-group-text { 
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.about-group.open .about-group-text{
    max-height: 500px;
}

.about-group.open svg {
    transform: rotate(180deg);
}

.about-group-header {
    margin: 0px;
    align-self: flex-start;
}
