/* 
    LOGIN PAGE
    
    Nearly identical structure to register.css and beta.css (#login_items / #register-items / #beta-items
    are all the same card pattern), these are likely to be merged into one auth component in the future 
*/

#login-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

#login_items {
    justify-self: ce;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #bebdbd;
    box-shadow: 0px 2px 2px 0px rgba(122, 122, 122, 0.2);
    border-radius: 8px;
    position: relative;
}

#login_items i {
    color: lightgray;
    transition: 0.2s;
    cursor: pointer;
}

#login_items button {
    height: 3.2rem;
}

#login_validation_label {
    position: absolute;
    color: var(--error-accent);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    width: 350;
    pointer-events: none;
}

#logout_button {
    padding-bottom: 10px;
    position: relative;
    width: 100px;
}

#logout_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_button {
    align-self: center;
    justify-self: center;
    width: 15rem;
}

.login_field {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inner-entry-label {
    pointer-events: none;
    position: absolute;
    margin: .5rem;
    background-color: white;
    padding: .15rem;
    transition: all 0.2s ease-in-out;
    color: gray;
}

.login-field-input {
    width: 15rem;
    height: 2.3rem;
    padding: 5px 8px;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 1rem;
    border: 1px solid #cdcbcb;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.login-field-input:hover {
    border: 1px solid rgba(41, 41, 42, 0.4);
}

.login-field-input:focus {
    border: 1px solid rgba(17, 17, 18, 0.4);
}

.login-field-input:focus + .inner-entry-label,
.login-field-input:not(:placeholder-shown) + .inner-entry-label {
    font-size: .75rem;
    transform: translateY(-1.6rem);
    color: black;
}

#register-go-back-button {
    background-color: rgba(0, 0, 0, 0);
    outline-style: solid;
    outline-width: 0.1vh;
    outline-color: var(--blue);
    color: var(--blue);
    width: 7.5rem;
}

#register-go-back-button-container {
    display: flex;
    width: 100%;
    padding-left: 2vw;
}

#switch_to_register_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: none;
}

#switch_to_register_container label {
    pointer-events: none;
    user-select: none;
}

#switch_to_register_button {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 75%;
}

#switch_to_register_button:hover {
    transform: translateY(-2px);
}

#switch_to_register_button:active {
    transform: translateY(2px);
}

#register_go_back_button_container {
    display: flex;
    gap: none;
    position: absolute;
    top: 20px;
    left: 20px;
}
