<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beta-page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <div id="beta-screen" style="display : flex">
        <div id="beta-items">
            <div class="beta-field">
                <label id="beta-validation-label"></label>
            </div>
            <div class="beta-field">
                <input class="beta-field-input" type="text" id="beta-code-entry" placeholder=" ">
                <label class="inner-entry-label" for="beta-code-entry">Beta Code</label>
            </div>
            <button id="beta-button" class="auth-button">Continue</button>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
</html>