<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="login-screen" style="display : flex">
        <div id="login_items">
            <div class="login_field">
                <label id="login_validation_label"></label>
            </div>
            <div class="login_field">
                <input class="login-field-input" type="text" id="login_username_entry" placeholder=" ">
                <label class="inner-entry-label" for="login_username_entry">Username</label>
            </div>
                <div class="login_field">
                <input class="login-field-input" type="password" id="login_password_entry" placeholder=" ">
                <label class="inner-entry-label" for="login_password_entry">Password</label>
                <i class="fa-solid fa-eye"></i>
            </div>
            <button id="login_button" class="auth-button">Login</button>
        </div>
        <div id="switch_to_register_container">
            <label for="switch_to_register_button" id="switch_to_register_lable">Don't have an account ? Register below</label>
            <button id="switch_to_register_button" class="auth-button">Register</button>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script>
    const apiLoginUrl = "{{ url_for('auth_api.login') }}";
</script>
</html>