<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_page.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="register-screen">
        <div id="register-items">
            <div class="login_field">
                <label id="register-validation-label"></label>
            </div>

            <div class="login_field">
                <input type="text" id="register-username-entry" placeholder=" ">
                <label class="inner-entry-label" for="register-username-entry">Username</label>
            </div>

            <div class="login_field">
                <input type="password" id="register-password-entry1" placeholder=" ">
                <label class="inner-entry-label" for="register-password-entry1">Password</label>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="login_field">
                <input type="password" id="register-password-entry2" placeholder=" ">
                <label class="inner-entry-label" for="register-password-entry2">Confirm Password</label>
                <i class="fa-solid fa-eye"></i>
            </div>

            <button id="register-button" class="auth-button">Register</button>
        </div>

        <div id="register_go_back_button_container">
            <label for="register-switch-to-login-button">Already have an account?</label>
            <button id="register-switch-to-login-button" class="auth-button">Login</button>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script>
    const apiRegisterUrl = "{{ url_for('registering') }}";
</script>
</html>